## Project Settings
# 忽略所有以 DONT_GIT_ 开头的文件
DONT_GIT_*

# Byte-compiled files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/
.venv/
.env/

# PyCharm project files
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python-specific files
*.log
*.pot
*.pyc

# C extensions
*.so

# Test and coverage
.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/

# PyInstaller
*.spec

# mypy
.mypy_cache/

# jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings (if you're using VS Code alongside PyCharm)
.vscode/
